.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

bin/
dist/
coverage.out

.idea/
.vscode/
Thumbs.db
Desktop.ini

.DS_Store
node_modules/

